# This file contains the central environment variables used by the containers

# Caddy configuration variables
CADDY_FRONTEND_BINDING=<<frontend-binding>>
CADDY_AUTHENTIK_BINDING=<<authentik-binding>>

# POSTGRES CONNECTION VARIABLES
PG_USER=<<postgres-user>>
POSTGRES_USER=<<postgres-user>>
PG_PASS=<<postgres-pass>>
POSTGRES_PASSWORD=<<postgres-pass>>
PG_DB=wisdom
PG_PORT=5432
PG_HOST=postgres

# MIRCROSERIVCE CONFIGURATION
LOG_LEVEL=info
API_GATEWAY_HOST=api-gateway

# API-GATEWAY CONFIGURATION
KONG_PG_USER=<<postgres-user>>
KONG_PG_PASSWORD=<<postgres-pass>>
KONG_PG_HOST=postgres

# Authentik configuration
AUTHENTIK_POSTGRESQL__HOST=postgres
AUTHENTIK_POSTGRESQL__USER=<<postgres-user>>
AUTHENTIK_POSTGRESQL__PASSWORD=<<postgres-pass>>
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_SECRET_KEY=<<authentik-secret-key>>
AUTHENTIK_BOOTSTRAP_PASSWORD=<<authentik-admin-pass>>
AUTHENTIK_BOOTSTRAP_TOKEN=<<authentik-admin-api-token>>